.destinationSection {
    background-image: url("./../../assets/destination/background-destination-desktop.jpg");
    background-size: cover;    
}

.destinationContentSection {
    margin-top: 212px; 
}

.mainTitleDestinationPage {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.8em;
    color: white;
    text-transform: uppercase;
    word-spacing: 0.2em;
}

.mainTitleDestinationPage span {
    color: darkgray;
    padding-right: 28px;
}

.planetsContainer {
    margin-left: 48px;
    margin-top: 74px;
    width: 445px;
    height: 445px;
}

.containerOfInfoDestination {
    width: 445px;
    height: 472px;
    margin-top: 64px;
}

.listOfDestination {
    padding: 0;
    display: flex;
    text-decoration: none;
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6em;
    color: #D0D6F9;
    text-transform: uppercase;
    gap: 30px;
}

.itemOfListDestination {
    cursor: pointer;
    padding-bottom: 12px;
}

.itemOfListDestination:hover {
    color: white;
    padding-bottom: 10px;
    border-bottom: 2px white solid;
}

.titleDestination {
    font-family: 'Bellefair', serif;
    font-size: 10em;
    color: white;
    text-transform: uppercase;
}

.textDestionation {
    font-size: 1.8em;
    line-height: 1.8em;
    font-family: 'Barlow', sans-serif;
    color: #D0D6F9;
}

.lineContainerDestination {
    width: 100%;
}

.lineDestination {
    border-top: 1px #979797 solid;
    margin-top: 48px;
}

.infoDestination {
    display: flex;
    text-transform: uppercase;
}

.infoInNumbers {
    width: 50%;
}

.titleInfoInNumbers {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6em;
    color: #D0D6F9;
    margin-top: 30px;
}

.textInfoInNumbers {
    font-family: 'Bellefair', serif;
    font-size: 2.8em;
    color: white;
    margin-top: 20px;
}

/* Tablet */

@media screen and (max-width: 1400px) {
    .destinationSection {
        background-image: url("./../../assets/destination/background-destination-tablet.jpg");   
    }
    .destinationContentSection {
        width: 90%;
        margin-top: 112px; 
    }

    .containerOfPlanets {
        width: 100%;
    }

    .planetsContainer {
        margin-left: 0;
        margin-top: 60px;
        width: 100%;
        height: 275px;
        text-align: center;
    }

    .mainTitleDestinationPage {
        font-size: 2em;
    }

    .imagePlanet {
        width: 300px;
        height: 300px;
    }

    .containerOfInfoDestination {
        text-align: center;
        width: 75%;
    }

    .listOfDestination {
        justify-content: center;
    }

    .titleDestination {
        font-size: 8em;
    }    

    .textDestionation {
        font-size: 1.6em;
    }    
}

/* Mobile */

@media screen and (max-width: 450px) {
    .destinationSection {
        background-image: url("./../../assets/destination/background-destination-mobile.jpg");   
        height: 850px;
    }

    .destinationContentSection {
        width: 86%;
        margin-top: 88px; 
        text-align: center;
    }

    .mainTitleDestinationPage {
        font-size: 1.6em;
    }

    .mainTitleDestinationPage span {
        padding-right: 18px;
    }

    .planetsContainer {
        margin-top: 32px;
        height: 116px;
    }
    
    .imagePlanet {
        width: 170px;
        height: 170px;
    }

    .containerOfInfoDestination {
        width: 98%;
    }

    .listOfDestination {
        font-size: 1.4em;
    }

    .titleDestination {
        font-size: 5.6em;
    }

    .textDestionation {
        font-size: 1.5em;
    }

    .infoDestination {
        flex-direction: column;
        align-items: center;
    }

    .titleInfoInNumbers {
        font-size: 1.4em;
        margin-top: 24px;
    }

    .textInfoInNumbers {
        margin-top: 10px;
    }
}